<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Plant Monitoring System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script>
      var test = document.createElement("div");
      test.className = "hidden d-none";

      document.head.appendChild(test);
      var cssLoaded = window.getComputedStyle(test).display === "none";
      document.head.removeChild(test);

      if (!cssLoaded) {
        var link = document.createElement("link");

        link.type = "text/css";
        link.rel = "stylesheet";
        link.href = "/css/main.css";

        document.head.appendChild(link);
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand mr-auto" href="/"
        ><img src="/img/logo.png" height="30" width="30"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="nav_items" class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/actions">Actions</a>
          </li>
          <li class="nav-item" id="graphs">
            <a class="nav-link" href="/graphs">Graphs</a>
          </li>
          <li class="nav-item" id="logs">
            <a class="nav-link" href="/logs">Logs</a>
          </li>
          <li class="nav-item" id="about">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Details
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/temperature">Temperature</a>
              <a class="dropdown-item" href="/humidity">Humidity</a>
              <a class="dropdown-item" href="/moisture">Moisture</a>
              <a class="dropdown-item" href="/sunlight">Sunlight</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/watertank">Water Tank</a>
            </div>
          </li>
        </ul>
        <!-- <button
      class="btn btn-outline-light mx-md-2 my-2 my-sm-0 align-self-center"
      id="signupmodalButton"
    >
      Signup
    </button>
    <button
      class="btn btn-outline-light ml-2 my-2 my-sm-0 align-self-center"
      id="loginmodalButton"
    >
      Login
    </button> -->
      </div>
    </nav>
    <%- include('partials/decore.ejs') %> 
    <%- include('partials/jumbotron.ejs')%>

    <section>
      <button id="test_api">test api</button>
      <script>
        document
          .getElementById("test_api")
          .addEventListener("click", async (e) => {
            e.preventDefault();
            const device_id = 11;
            const lat = 34.850139;
            const long = 5.747078;
            const temperature = 20.1;
            const humidity = 40.2;
            const windspeed = 10.1;
            const wind_direction = 100;
            const precipitation = 0.0;
            const soil_moisture = 40.2;
            const dew_points = 10.3;
            const uv_index = 3.01;
            try {
              const res = await fetch("/push_data", {
                method: "POST",
                body: JSON.stringify({
                  device_id,
                  lat,
                  long,
                  temperature,
                  humidity,
                  windspeed,
                  wind_direction,
                  precipitation,
                  soil_moisture,
                  dew_points,
                  uv_index,
                }),
                headers: { "Content-Type": "application/json" },
              });
              const data = await res.json();
              console.log(data);
              //  if (data.user) {
              // success.textContent='login successfully you will move to home page in 5 secodes';
              //     setTimeout(() => {
              //success.textContent='time over';
              //       location.assign("/search");
              //     }, 2000);
              //  }
              //console.log('stop here !!')
            } catch (err) {
              console.log("error is happend when i sent a request");
              console.log("error is = ", err);
            }
          });
      </script>
      <!-- <div class="container">
        <div class="row mb-4 mt-2">
          <div class="col-sm-12 text-center align-self-center">
            <h2>
              <img
                class="mb-2 mr-3"
                alt="status icon"
                height="30px"
                width="30px"
                src="/svg/status.svg"
                data-holder-rendered="true"
              />Status
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
            <div class="row mt-5">
              <div class="col-6 text-center">
                <img
                  class="rounded-circle mb-2"
                  alt="tree icon"
                  height="140px"
                  width="140px"
                  src="/svg/overall.svg"
                  data-holder-rendered="true"
                />
                <h3>Overall</h3>
              </div>
              <div class="col-6 align-self-center" id="overallstatus"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="row mt-5">
              <div class="col-6">
                <img
                  class="rounded-circle mb-2"
                  alt="thermometer icon"
                  height="140px"
                  width="140px"
                  src="/svg/thermometer.svg"
                  data-holder-rendered="true"
                />
                <h3>Temperature</h3>
              </div>
              <div class="col-6 align-self-center" id="temperature"></div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="row mt-5">
              <div class="col-6">
                <img
                  class="rounded-circle mb-2"
                  alt="humidity icon"
                  height="140px"
                  width="140px"
                  src="/svg/humidity.svg"
                  data-holder-rendered="true"
                />
                <h3>Humidity</h3>
              </div>
              <div class="col-6 align-self-center" id="humidity"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="row mt-5">
              <div class="col-6">
                <img
                  class="rounded-circle mb-2"
                  alt="moisture icon"
                  height="140px"
                  width="140px"
                  src="/svg/moisture.svg"
                  data-holder-rendered="true"
                />
                <h3>Soil Moisture</h3>
              </div>
              <div class="col-6 align-self-center" id="moisture"></div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="row mt-5">
              <div class="col-6">
                <img
                  class="rounded-circle mb-2"
                  alt="sunlight icon"
                  height="140px"
                  width="140px"
                  src="/svg/sunlight.svg"
                  data-holder-rendered="true"
                />
                <h3>Sunlight</h3>
              </div>
              <div class="col-6 align-self-center" id="sunlight"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="row mt-5">
              <div class="col-6">
                <img
                  class="rounded-circle mb-2"
                  alt="watertank icon"
                  height="140px"
                  width="140px"
                  src="/svg/water.svg"
                  data-holder-rendered="true"
                />
                <h3>Tank Water Level</h3>
              </div>
              <div class="col-6 align-self-center" id="waterlevel"></div>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="row mt-5">
              <div class="col-6">
                <img
                  class="rounded-circle mb-2"
                  alt="waterpump icon"
                  height="140px"
                  width="140px"
                  src="/svg/pump.svg"
                  data-holder-rendered="true"
                />
                <h3>Water Pump</h3>
              </div>
              <div class="col-6 align-self-center" id="waterpump"></div>
            </div>
          </div>
        </div>
      </div> -->
      <center>
        <p id="coordinates">Click on the map to get coordinates</p>
      </center>
      <div id="containerr">
        <div id="mapid"></div>
      </div>

      <center id="containerr">
        <form>
          <div class="form-floating mb-3">
            <input
              id="autocomplete_search"
              type="text"
              name="texte"
              class="form-control"
              id="floatingInput"
              placeholder="Click map to get coordinates or type it"
            />
          </div>
          <div class="scrollable-list">
            <ul id="list"></ul>
          </div>
        </form>
        <div class="scrollable-table">
          <table class="table" id="deviceTable">
            <thead>
              <tr>
                <th scope="col">Device ID</th>
                <th scope="col">Lat</th>
                <th scope="col">Long</th>
                <th scope="col">Place</th>
                <th scope="col">Show Data</th>
              </tr>
            </thead>
            <tbody id="tableBody">
              <!-- Table body will be dynamically inserted here -->
            </tbody>
          </table>
        </div>
      </center>

      <div class="container mt-5">
        <div class="row">
          <div class="col-12 mt-5 mb-2 text-center">
            <h2>
              <img
                class="mb-2 mr-3"
                alt="can do icon"
                height="30px"
                width="30px"
                src="/svg/cando.svg"
                data-holder-rendered="true"
              />What You can do
            </h2>
          </div>
        </div>
        <div class="row mt-3 mb-5">
          <div class="col-sm-6 col-lg-4 text-center mt-4">
            <div class="card card-button">
              <div class="card-body">
                <p>
                  <a class="btn btn-link stretched-link" href="#">
                    <img
                      class="mb-2"
                      alt="see status icon"
                      height="140px"
                      width="140px"
                      src="/svg/seestatus.svg"
                      data-holder-rendered="true"
                    />
                  </a>
                </p>
                <h3>View Status</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-center mt-4">
            <div class="card card-button">
              <div class="card-body">
                <p>
                  <a class="btn btn-link stretched-link" href="/logs">
                    <img
                      class="mb-2"
                      alt="inspect icon"
                      height="140px"
                      width="140px"
                      src="/svg/inspect.svg"
                      data-holder-rendered="true"
                    />
                  </a>
                </p>
                <h3>Inspect Logs</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-center mt-4">
            <div class="card card-button">
              <div class="card-body">
                <p>
                  <a class="btn btn-link stretched-link" href="/graphs">
                    <img
                      class="mb-2"
                      alt="graph icon"
                      height="140px"
                      width="140px"
                      src="/svg/bar.svg"
                      data-holder-rendered="true"
                    />
                  </a>
                </p>
                <h3>Plot Graphs</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-center mt-4">
            <div class="card card-button">
              <div class="card-body">
                <p>
                  <a class="btn btn-link stretched-link" href="/graphs">
                    <img
                      class="mb-2"
                      alt="microchip icon"
                      height="140px"
                      width="140px"
                      src="/svg/ai.svg"
                      data-holder-rendered="true"
                    />
                  </a>
                </p>
                <h3>Predict Using AI</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-center mt-4">
            <div class="card card-button">
              <div class="card-body">
                <p>
                  <a class="btn btn-link stretched-link" href="/actions">
                    <img
                      class="mb-2"
                      alt="weather station icon"
                      height="140px"
                      width="140px"
                      src="/svg/station.svg"
                      data-holder-rendered="true"
                    />
                  </a>
                </p>
                <h3>Manage Stations</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 text-center mt-4">
            <div class="card card-button">
              <div class="card-body">
                <p>
                  <a class="btn btn-link stretched-link" href="/graphs">
                    <img
                      class="mb-2"
                      alt="reports icon"
                      height="140px"
                      width="140px"
                      src="/svg/report.svg"
                      data-holder-rendered="true"
                    />
                  </a>
                </p>
                <h3>Generate Reports</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha256-Xt8pc4G0CdcRvI0nZ2lRpZ4VHng0EoUDMlGcBSQ9HiQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
      integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ="
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/auto_complete.js"></script>
    <script src="/js/search_box.js"></script>
    <script src="/js/get_data.js"></script>
  </body>
</html>
