<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style_header.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Admin login</a></h1>
    </nav>

    <form>
      <div>
        <center>
          <img src="/img/logo.png" alt="" width="70px" height="70px" />
        </center>
      </div>
      <div class="registration success">
        <%- include('partials/message'); -%>
        <div class="mb-3 row">
          <div class="col-sm-10">
            <input
              type="text"
              readonly
              class="form-control-plaintext"
              id="staticEmail2"
              value="                       Admin Dashboard"
              style="background-color: rgb(236, 245, 211)"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Enter password"
            />
            <div class="password error"></div>
          </div>
        </div>
      </div>
      <button>Enter</button>
    </form>
    <script>
      const form = document.querySelector("form");
      console.log("form =", form);
      const passworderr = document.querySelector(".password.error");
      const success = document.querySelector(".registration.success");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const password = form.password.value;

        try {
          const res = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({ password }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.error) {
            passworderr.textContent = data.error;
          }
          if (data.succes) {
            console.log(data.succes);
            success.textContent =
              "Login successfully you will to DashBoard in few secondes ..";
            setTimeout(() => {
              success.textContent = "time over";
              location.assign("/");
            }, 3000);
          }
          //console.log('stop here !!')
        } catch (err) {
          console.log("error is happend when i sent a request");
          console.log("error is = ", err);
        }
      });
    </script>
  </body>

  <%- include('partials/footer'); -%>
</html>
