<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Plant Monitoring System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/7.4.2/handsontable.full.min.css"
      integrity="sha256-I1MrClMxfcEQ2gWwRjAt3+EZIqAOQDYz7c8z6/AY+Uw="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script>
      var test = document.createElement("div");
      test.className = "hidden d-none";

      document.head.appendChild(test);
      var cssLoaded = window.getComputedStyle(test).display === "none";
      document.head.removeChild(test);

      if (!cssLoaded) {
        var link = document.createElement("link");

        link.type = "text/css";
        link.rel = "stylesheet";
        link.href = "/css/main.css";

        document.head.appendChild(link);
      }
    </script>
  </head>
  <body ng-controller="demoController as vm">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand mr-auto" href="/"
        ><img src="/img/logo.png" height="30" width="30"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/actions">Actions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graphs">Graphs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logs">Logs</a>
          </li>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Ai-models <span class="sr-only">(current)</span></a
            >
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Details
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/temperature">Temperature</a>
              <a class="dropdown-item" href="/humidity">Humidity</a>
              <a class="dropdown-item" href="/moisture">Moisture</a>
              <a class="dropdown-item" href="/windspeed">windspeed</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/watertank">Water Tank</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <%- include('partials/decore.ejs') %> <%- include('partials/jumbotron.ejs')
    %>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>
              <img
                class="mb-2 mr-3"
                alt="logs icon"
                height="30px"
                width="30px"
                src="/svg/logs.svg"
                data-holder-rendered="true"
              />Logs
            </h2>
          </div>
        </div>
      


        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"> File Upload with Sorting</a>
            </div>
          </div>
        </nav>
        <div class="container">
          <button class="btn btn-primary" ng-click="vm.addDoc()">Add Doc</button>
          <div class="panel-group" data-as-sortable="vm.documentDragListeners" ng-model="vm.documents">
            <div class="panel panel-default xlist" ng-repeat="doc in vm.documents" data-as-sortable-item>
              <div class="panel-heading">
                <h4 class="panel-title">
                       <i class="fa fa-grip-large fa-rotate-90" data-as-sortable-item-handle></i>
                      <a data-toggle="collapse" data-target="#collapse{{$index}}">{{doc.type}}<i class="chevron fa fa-fw" ></i></a> <span class="badge">{{doc.files.length}}</span>
                      <a class="close-ribbon pull-right" ng-click="vm.removeDoc($index)"><i class="fa fa-times"></i></a>
                  </h4>
      
              </div>
              <div id="collapse{{$index}}" class="panel-collapse collapse in">
                <div class="panel-body">
                  <button class="btn btn-primary" ngf-select="vm.addFiles($files,doc.files)" accept="*/*" multiple ng-model="vm.files" ngf-max-height="1000" ngf-max-size="5MB">
                          Select Files</button>
      
                  <br>
                  <br>
                  <div ngf-drop="vm.addFiles($files,doc.files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">
                    <div class="dragOverlay">
                      <div class="dragInner">Drop files here.</div>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <ul class="list-group" data-as-sortable="vm.fileDragListeners" ng-model="doc.files">
                      <li class="list-group-item list-group-item-info">
                        <div class="row">
                          <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">Sort</div>
                          <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">Name</div>
                          <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (MB)</div>
                          <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Type</div>
                          <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Modified on</div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                        </div>
                      </li>
                      <li class="list-group-item" ng-show="doc.files.length === 0">
                        Drop Images or PDFs files here.
                      </li>
                      <li ng-repeat="f in doc.files" class="list-group-item xlist" data-as-sortable-item>
                        <div class="row">
                          <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                            <div class="row">
                              <div class="col-xs-4" data-as-sortable-item-handle style="padding-top:5px;">
                                <i class="fa fa-grip"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-11 col-md-11 col-sm-7 col-xs-7">
                            <div class="row">
                              <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext">{{f.name}}
                              </div>
                              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{(f.size/1024/1024).toPrecision(2)}}</div>
                              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{f.type}}</div>
                              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{f.lastModified | date: short}}</div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                <button type="button" class="btn btn-xs btn-danger" ng-click="vm.removeFile(doc.files,$index)">
                                                      <span><i class="fa fa-trash"></i></span>
                                                  </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary">Upload</button>
        </div>









      </div>
    </section>
    <%- include('partials/footer.ejs') %>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha256-Xt8pc4G0CdcRvI0nZ2lRpZ4VHng0EoUDMlGcBSQ9HiQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/7.4.2/handsontable.full.min.js"
      integrity="sha256-snKOUyKpbPfA0clT5s+QnvGaGYpkF2bXCbqgYvNv4ik="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
      integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ="
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/logs.js"></script>
    <script src="/js/get_data.js"></script>
  </body>
</html>
